<!doctype html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	        <link rel="stylesheet" type="text/css" href="static/css/normalice.css">
		<link rel="stylesheet" type="text/css" href="static/css/fonts.css">
		<link rel="stylesheet" type="text/css" href="static/css/estilo.css">
		<title>Murta Azul </title>
	</head>
	<body>
		<div class="menu">
			<ul>
				<li><a href="about.html"><span class="icon-user"></span> Bibliografia </a> </li>
				<li><a href="trabajo.html"><span class="icon-images"></span> Trabajo
					<ul>
						<li>Performance</li>
							<ul>
								<li>Nada I </li>
								<li>Nada II</li>
								<li>nada III</li>
							</ul>
						<li>Danza</li>
					</ul>
					</a>
				</li>
				<li><a href="contacto.html">Contacto </a></li>
			</ul>
		</div>
		<hr>
		<div class="container">
			<img class="img_portada" src="static/css/Imagenes/0.jpg" alt="Imagen no disponible">
        	
			{% block content %} {% endblock %}
		</div>
	</body>
	<hr>
	<footer>
		<p><a target='_blank' href="https://www.instagram.com/murtaazul/"> <span class="icon-instagram"></span>@murtaazul</a></p>
                <p><a target='_blank' href="https://www.facebook.com/murta.techosverdes"><span class="icon-facebook2"></span>murta.techosverdes</a></p>
	</footer>
</html>
